---
layout: page
title: Discovering Mechanisms of Genome Evolution and Ecological Responses
post_header: false
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <img src="./assets/img/logo.png" alt="Parisod Lab Logo" class="img-responsive center-block" style="max-width: 250px; margin-bottom: 20px;" />
        <h1>Parisod Lab</h1>
        <p>Discovering mechanisms of genome evolution and ecological responses</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="section">
        <h4>Research</h4>
        <div class="row">
          <div class="col-md-6">
            <a href="/Research/" class="thumbnail">
              <img src="/assets/img/research/worms_drugs2.jpg" class="img-responsive" alt="Research Image" />
            </a>
          </div>
          <div class="col-md-6">
            <p>We study the interactions between genome dynamics and adaptive processes driven by environmental factors.</p>
            <p><strong>Learn more about <a href="/Research">our research</a>.</strong></p>
          </div>
        </div>
      </div>
      <hr />
      <div class="section">
        <h4>Join Us!</h4>
        <a href="/Join-Us/" class="thumbnail">
          <img src="/people/labphoto.jpg" class="img-responsive" alt="Lab Photo" />
        </a>
        <p>Learn about positions for undergrads, graduate students, and post-docs.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section">
        <h4>News &amp; Updates</h4>
        <div class="list-group">
          {% for post in site.tags.news limit:6 %}
          {% if post.category != "album" %}
          <a href="{{ post.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">
              <small class="pull-right">{{ post.date | date_to_string }}</small>{{ post.title }}
            </h4>
            <p class="list-group-item-text">{{ post.subtitle }}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="clearfix">
          <div class="pull-left">
            <a href="/feeds/rss.xml" type="application/rss+xml">
              <img src="/assets/img/rss.png" alt="RSS Feed" />
            </a>
            <a href="/feeds/rss.xml" type="application/rss+xml" class="btn btn-warning btn-xs">Subscribe RSS</a>
          </div>
          <div class="pull-right">
            <a href="/archive/">View Full Archive <i class="glyphicon glyphicon-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
