---
layout: default
---

<h3>Genome Assembly Data</h3>
<div class="row">
  <div class="col-md-6">
    {% for item in site.data.datasets.genome_assembly_data %}
    <div class="pub">
      <strong>{{ item.sample_name }}</strong>
      <p><strong>Genome Size:</strong> {{ item.genome_size }}</p>
      <p><strong>Sequencing Technology:</strong> {{ item.sequencing_technology }}</p>
      <p><a href="{{ item.assembly_download_link }}" target="_blank">Download Assembly</a></p>
      <p><a href="{{ item.gene_annotation_download_link }}" target="_blank">Download Gene Annotation</a></p>
      <p><a href="{{ item.te_annotation_download_link }}" target="_blank">Download TE Annotation</a></p>
      <p><a href="{{ item.transcriptome_download_link }}" target="_blank">Download Transcriptome</a></p>
      <p><a href="{{ item.shiny_app_link }}" target="_blank">Shiny App</a></p>
    </div>
    {% endfor %}
  </div>
</div>

<h3>Population Genetics Data</h3>
<div class="row">
  <div class="col-md-6">
    {% for item in site.data.datasets.population_genetics_data %}
    <div class="pub">
      <strong>{{ item.sample_name }} - {{ item.population_name }}</strong>
      <p><strong>Genus:</strong> {{ item.genus }}</p>
      <p><strong>Species:</strong> {{ item.species }}</p>
      <p><strong>Sequencing Technology:</strong> {{ item.sequencing_technology }}</p>
      <p><strong>NCBI/EBI Accession Number:</strong> {{ item.accession_number }}</p>
      <p><strong>Map Location:</strong> Lat: {{ item.latitude }}, Lon: {{ item.longitude }}</p>
      <p><a href="{{ item.download_link }}" target="_blank">Download Data</a></p>
    </div>
    {% endfor %}
  </div>
</div>